.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.kotak,
.kotak2 {
  width: 100%;
  height: 100px;
  background-color: red;
}
.slideUp {
  animation: slideUp 0.5s infinite ease-out alternate;
}

.slideDown {
  animation: slideDown 0.5s ease forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}
